{% extends 'storefront/auth_base.html' %}{% load storefront_extras %}

{% block title %}Check your email | IKart{% endblock %}

{% block auth_content %}
    <span class="ik-auth-icon">{% icon 'mail' 26 %}</span>
    <h1 class="ik-h1">Check your email</h1>
    <p class="ik-sub">If an account exists with the email address you entered, we've sent instructions to reset your password.</p>
    <div class="ik-alert">{% icon 'info' %}<p class="text-sm">Please check your spam or junk folder if you don't see the email.</p></div>
    <a href="{% url 'storefront:home' %}" class="ik-btn ik-btn-primary ik-btn-block">Return to IKart</a>
{% endblock %}
