{% extends 'storefront/auth_base.html' %}{% load storefront_extras %}

{% block title %}Password changed | IKart{% endblock %}

{% block auth_content %}
    <span class="ik-auth-icon ik-auth-icon-ok">{% icon 'check' 28 %}</span>
    <h1 class="ik-h1">Password changed successfully</h1>
    <p class="ik-sub">Your password has been updated successfully. You can now sign in with your new password.</p>
    <a href="{% url 'login' %}" class="ik-btn ik-btn-primary ik-btn-lg ik-btn-block">Sign in</a>
{% endblock %}
